<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Solidary Network</title>
<link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div class="page-wrapper">
    <header>
        <div class="logo">
            <img th:src="@{/img/logo_solidary.png}" alt="Logo Solidary Network" />
        </div>
        <nav>
            <a href="https://VOLUNTÁRIOS.com" class="botao">VOLUNTÁRIOS</a>
            <a href="https://ONG.com" class="botao">ONG</a>
            <a href="https://BLOG.com" class="botao">BLOG</a>
            <a href="https://ENTRAR.com" class="botao">ENTRAR</a>
            <div class="search-box">
                <input type="text" placeholder="buscar por ONGs" />
                <button>🔍</button>
            </div>
        </nav>
    </header>

    <main>
        <section class="intro">
            <div class="text-content">
                <h1>SOLIDARY NETWORK</h1>
                <p>O Solidary Network é uma plataforma que une voluntários e ONGs em uma rede de apoio e transformação. Aqui, você pode encontrar causas próximas de você, compartilhar histórias inspiradoras e fazer a diferença de forma prática e segura.</p>
                <div class="buttons">
                    <a th:href="@{/registerVolunteer}" class="voluntario">Quero ser voluntário</a>
                    <a th:href="@{/register-organization}" class="ong">Cadastrar minha ONG</a>

                </div>
            </div>
            <div class="image-content">
                <img th:src="@{/img/img_home_solidary.png}" alt="Ícone colorido de pessoas em círculo" />
            </div>
        </section>
    </main>
</div>
</body>
</html>